.contact-map iframe {
  margin-left: 50% !important;
}

.contact-map iframe {
  width: 50% !important;
}

.contact-grids {
  width: 50% !important;
}

.slide-text h1 {
    color: floralwhite;
    font-size: 5em;
    text-shadow: 5px 5px 10px black;
    font-weight: 900;
}

.logo img {
    width: 300px;
    height: 70px;
}

/**********************Responsive*****************************/

@media only screen and (min-width: 992px) {
  .col-md-6 {
    width: 100% !important
  }
}

@media only screen and (max-width: 1200px) {
  .contact-map iframe {
    margin-left: 0% !important;
    width: 100% !important;
  }
  .contact-grids {
    width: 100% !important;
  }
}
