iframe {
    margin-left: 50%;
}

.contact-map iframe {
    width: 50%;
}

.contact-grids {
    width: 50%;
}

@media (max-width: 992px){
  .col-md-6 {
      width: 100%;
  }
}

@media (max-width: 1200px){
  .contact-map iframe {
      margin-left: 0%;
      width: 100%;
  }
  .contact-grids {
    width: 100%;
  }
}
